*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background: url("/img/Фон\ 1.png") center center/cover no-repeat;
    height: 100vh;
}

.header{
    height: 59px;
    fill: #000;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 79px;
    padding-right: 79px;
}

.header-link-wrap{
    display: flex;
   
}

.header-link{
    margin-right: 30px;
}

.header-link-logo{
    width: 21px;
    height: 24px;
}


a:nth-child(6){
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    height: 24px;
    padding-right: 25px;
}

.header-logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.header-link-descr{
    display: flex;
    align-items: center;
    margin-left: 18px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.header-log , .header-sign{
    text-decoration: none;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 3px;
    margin-right: 3px;
}
.header-log:hover{
    color: #3CB878;
}

.header-sign:hover{
    color: #3CB878;
}
.header-link-wrap{
    position: relative;
}

.header-link-logo{
    width: 26px;
    height: 26px;
}

.header-link-logo-green-calendar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px ;
    right: 0;
    width: 26px;
    height: 26px;
    opacity: 0;
    transition: .5s ease;
}

.header-link-logo-green-envelope{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 116px;
    right: 0;
    width: 26px;
    height: 26px;
    opacity: 0;
    transition: .5s ease;
}

.header-link-logo-green-compass{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 202px;
    right: 0;
    width: 26px;
    height: 26px;
    opacity: 0;
    transition: .5s ease;
}


.header-link-logo-green-calendar:hover{
    opacity: 1;
}
.header-link-logo-green-envelope:hover{
    opacity: 1;
}

.header-link-logo-green-compass:hover{
    opacity: 1;
}


.container{
    width: 444px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.form{
    margin-top: 54px;
    height: 584px;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding: 31px 60px 38px 61px
}

.form-title-wrapp{
    display: flex;
    justify-content: space-between;
}

.form-title{
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.form-subtitle{
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
 
}

.form-link-subtitle{
    text-decoration: none;
}

.form-wrap-button{
    display: flex;
    margin-top: 15px;
}

.form-button-blue , .form-button-red {
    position: relative;
    width: 160px;
    height: 48px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 22px 17px 12px;
    cursor: pointer;
}

.form-button-blue {
    background: #305DB8;
}

.form-button-red{
    background: #DF4A32;
    margin-left: 4px;
}

.form-or{
    position: relative;
    margin-top: 31px;
    text-align: center;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.form-or::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 5px;
    right: 170px;
    left: 0px;
    border-bottom: 1px solid #F2F2F2;
}
.form-or::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 5px;
    right: 0;
    left: 170px;
    border-bottom: 1px solid #F2F2F2;
}
.form-descr::before{
    content:"";
    position: absolute;
    top: 7px;
    bottom: 0;
    right: 0;
    left: 50px;
    width: 1px;
    height: 28px;
    border-top: 30px solid rgba(10, 22, 47, 1);
    opacity: 0.2;
}
.form-descr{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.form-img{
    position: relative;
}

.form-img::after{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-right: 1px solid #F2F2F2;
}
.form-name{
    width: 322px;
    height: 44px;
    margin-top: 16px;
    padding: 4px 0 0 19px ;
}

.form-checkbox{
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.form-text{
    margin-left: 11px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.terms-and-conditions{
    display: flex;
    cursor: pointer;
    position: relative;
    margin-top: 12px;
}

.terms-and-conditions > input{
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #CDCDCD;
    border-radius:4px;
    background-color: #fff;
    cursor: pointer;
    
}

.agree-text{
    margin-left: 10px;
    margin-top: 2px;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.terms-hover{
    margin-left: 2px;
    margin-top: 2px;
    text-decoration: none;
    color:  #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.terms-and-conditions > input:checked{
    border: 1px solid #0000;
    background-image: url("../icon/Vector\ 1.svg");
    background-repeat: no-repeat;
}

.form-btn{
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}

.header-logo:hover{
    transition: .3s;
    color: #01813F;
}

.form-button-blue:hover {
    transition: .3s;
    background: #022263;
}

.form-button-red:hover {
    transition: .3s;
    background: #AB1F09;
}

.form-subtitle:hover{
    text-decoration: underline;
}

.form-name:focus{
    box-shadow:0px 3px 8px rgba(0, 0, 0, 0.21);
    /* fill: #FFF; */
    /* filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21)) */
}

.header-link-wrap:hover .header-link .header-link-logo svg{
    transition: .3s;
    fill: #01813F;
    
}


.form-btn:hover{
    border-radius: 4px;
    background: #01813F;
}

.terms-hover:hover{
    color:#01813F;
}

.green{
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background: #3CB878;
}